/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
.wmstool-table-wrapper {
  zoom: 1;
}
.wmstool-table-wrapper:before,
.wmstool-table-wrapper:after {
  content: " ";
  display: table;
}
.wmstool-table-wrapper:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.wmstool-table-hidden {
  display: none;
}
.wmstool-table {
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  position: relative;
  border-radius: 4px 4px 0 0;
}
.wmstool-table-body {
  transition: opacity .3s;
}
.wmstool-table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}
.wmstool-table-thead > tr > th {
  background: #fafafa;
  transition: background .3s ease;
  text-align: left;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border-bottom: 1px solid #e8e8e8;
}
.wmstool-table-thead > tr > th[colspan] {
  text-align: center;
  border-bottom: 0;
}
.wmstool-table-thead > tr > th .anticon-filter,
.wmstool-table-thead > tr > th .wmstool-table-filter-icon {
  position: relative;
  margin-left: 8px;
  font-size: 14px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.45);
  transition: all .3s;
  width: 14px;
  font-weight: normal;
  vertical-align: text-bottom;
}
.wmstool-table-thead > tr > th .anticon-filter:hover,
.wmstool-table-thead > tr > th .wmstool-table-filter-icon:hover {
  color: rgba(0, 0, 0, 0.65);
}
.wmstool-table-thead > tr > th .wmstool-table-column-sorter + .anticon-filter {
  margin-left: 4px;
}
.wmstool-table-thead > tr > th .wmstool-table-filter-selected.anticon-filter {
  color: #1890ff;
}
.wmstool-table-tbody > tr > td {
  border-bottom: 1px solid #e8e8e8;
  transition: all .3s;
}
.wmstool-table-thead > tr,
.wmstool-table-tbody > tr {
  transition: all .3s;
}
.wmstool-table-thead > tr.wmstool-table-row-hover > td,
.wmstool-table-tbody > tr.wmstool-table-row-hover > td,
.wmstool-table-thead > tr:hover > td,
.wmstool-table-tbody > tr:hover > td {
  background: #e6f7ff;
}
.wmstool-table-thead > tr:hover {
  background: none;
}
.wmstool-table-footer {
  padding: 16px 16px;
  background: #fafafa;
  border-radius: 0 0 4px 4px;
  position: relative;
  border-top: 1px solid #e8e8e8;
}
.wmstool-table-footer:before {
  content: '';
  height: 1px;
  background: #fafafa;
  position: absolute;
  top: -1px;
  width: 100%;
  left: 0;
}
.wmstool-table.wmstool-table-bordered .wmstool-table-footer {
  border: 1px solid #e8e8e8;
}
.wmstool-table-title {
  padding: 16px 0;
  position: relative;
  top: 1px;
  border-radius: 4px 4px 0 0;
}
.wmstool-table.wmstool-table-bordered .wmstool-table-title {
  border: 1px solid #e8e8e8;
  padding-left: 16px;
  padding-right: 16px;
}
.wmstool-table-title + .wmstool-table-content {
  position: relative;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}
.wmstool-table-bordered .wmstool-table-title + .wmstool-table-content,
.wmstool-table-bordered .wmstool-table-title + .wmstool-table-content table {
  border-radius: 0;
}
.wmstool-table-without-column-header .wmstool-table-title + .wmstool-table-content,
.wmstool-table-without-column-header table {
  border-radius: 0;
}
.wmstool-table-tbody > tr.wmstool-table-row-selected td {
  background: #fafafa;
}
.wmstool-table-thead > tr > th.wmstool-table-column-sort {
  background: #f5f5f5;
}
.wmstool-table-thead > tr > th,
.wmstool-table-tbody > tr > td {
  padding: 16px 16px;
  word-break: break-all;
}
.wmstool-table-thead > tr > th.wmstool-table-selection-column-custom {
  padding-left: 16px;
  padding-right: 0;
}
.wmstool-table-thead > tr > th.wmstool-table-selection-column,
.wmstool-table-tbody > tr > td.wmstool-table-selection-column {
  text-align: center;
  min-width: 62px;
  width: 62px;
}
.wmstool-table-thead > tr > th.wmstool-table-selection-column .wmstool-radio-wrapper,
.wmstool-table-tbody > tr > td.wmstool-table-selection-column .wmstool-radio-wrapper {
  margin-right: 0;
}
.wmstool-table-expand-icon-th,
.wmstool-table-row-expand-icon-cell {
  text-align: center;
  min-width: 50px;
  width: 50px;
}
.wmstool-table-header {
  background: #fafafa;
  overflow: hidden;
}
.wmstool-table-header table {
  border-radius: 4px 4px 0 0;
}
.wmstool-table-loading {
  position: relative;
}
.wmstool-table-loading .wmstool-table-body {
  background: #fff;
  opacity: 0.5;
}
.wmstool-table-loading .wmstool-table-spin-holder {
  height: 20px;
  line-height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  position: absolute;
}
.wmstool-table-loading .wmstool-table-with-pagination {
  margin-top: -20px;
}
.wmstool-table-loading .wmstool-table-without-pagination {
  margin-top: 10px;
}
.wmstool-table-column-sorter {
  position: relative;
  margin-left: 8px;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.45);
}
.wmstool-table-column-sorter-up,
.wmstool-table-column-sorter-down {
  line-height: 6px;
  display: block;
  width: 14px;
  height: 6px;
  cursor: pointer;
}
.wmstool-table-column-sorter-up:hover .anticon,
.wmstool-table-column-sorter-down:hover .anticon {
  color: rgba(0, 0, 0, 0.65);
}
.wmstool-table-column-sorter-up.on .anticon-caret-up,
.wmstool-table-column-sorter-down.on .anticon-caret-up,
.wmstool-table-column-sorter-up.on .anticon-caret-down,
.wmstool-table-column-sorter-down.on .anticon-caret-down {
  color: #1890ff;
}
.wmstool-table-column-sorter-up:after,
.wmstool-table-column-sorter-down:after {
  position: absolute;
  content: '';
  height: 30px;
  width: 14px;
  left: 0;
}
.wmstool-table-column-sorter-up:after {
  top: -30px;
}
.wmstool-table-column-sorter-down:after {
  bottom: -30px;
}
.wmstool-table-column-sorter .anticon-caret-up,
.wmstool-table-column-sorter .anticon-caret-down {
  display: inline-block;
  font-size: 12px;
  font-size: 8px \9;
  transform: scale(0.66666667) rotate(0deg);
  line-height: 4px;
  height: 4px;
  transition: all .3s;
}
:root .wmstool-table-column-sorter .anticon-caret-up,
:root .wmstool-table-column-sorter .anticon-caret-down {
  font-size: 12px;
}
.wmstool-table-bordered .wmstool-table-header > table,
.wmstool-table-bordered .wmstool-table-body > table,
.wmstool-table-bordered .wmstool-table-fixed-left table,
.wmstool-table-bordered .wmstool-table-fixed-right table {
  border: 1px solid #e8e8e8;
  border-right: 0;
  border-bottom: 0;
}
.wmstool-table-bordered.wmstool-table-empty .wmstool-table-placeholder {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}
.wmstool-table-bordered.wmstool-table-fixed-header .wmstool-table-header > table {
  border-bottom: 0;
}
.wmstool-table-bordered.wmstool-table-fixed-header .wmstool-table-body > table {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.wmstool-table-bordered.wmstool-table-fixed-header .wmstool-table-body-inner > table {
  border-top: 0;
}
.wmstool-table-bordered.wmstool-table-fixed-header .wmstool-table-placeholder {
  border: 0;
}
.wmstool-table-bordered .wmstool-table-thead > tr > th {
  border-bottom: 1px solid #e8e8e8;
}
.wmstool-table-bordered .wmstool-table-thead > tr > th,
.wmstool-table-bordered .wmstool-table-tbody > tr > td {
  border-right: 1px solid #e8e8e8;
}
.wmstool-table-placeholder {
  position: relative;
  padding: 16px 16px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}
.wmstool-table-placeholder .anticon {
  margin-right: 4px;
}
.wmstool-table-pagination.wmstool-pagination {
  margin: 16px 0;
  float: right;
}
.wmstool-table-filter-dropdown {
  min-width: 96px;
  margin-left: -8px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.wmstool-table-filter-dropdown .wmstool-dropdown-menu {
  border: 0;
  box-shadow: none;
  border-radius: 4px 4px 0 0;
}
.wmstool-table-filter-dropdown .wmstool-dropdown-menu-without-submenu {
  max-height: 400px;
  overflow-x: hidden;
}
.wmstool-table-filter-dropdown .wmstool-dropdown-menu-item > label + span {
  padding-right: 0;
}
.wmstool-table-filter-dropdown .wmstool-dropdown-menu-sub {
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.wmstool-table-filter-dropdown .wmstool-dropdown-menu .wmstool-dropdown-submenu-contain-selected .wmstool-dropdown-menu-submenu-title:after {
  color: #1890ff;
  font-weight: bold;
  text-shadow: 0 0 2px #bae7ff;
}
.wmstool-table-filter-dropdown .wmstool-dropdown-menu-item {
  overflow: hidden;
}
.wmstool-table-filter-dropdown > .wmstool-dropdown-menu > .wmstool-dropdown-menu-item:last-child,
.wmstool-table-filter-dropdown > .wmstool-dropdown-menu > .wmstool-dropdown-menu-submenu:last-child .wmstool-dropdown-menu-submenu-title {
  border-radius: 0;
}
.wmstool-table-filter-dropdown-btns {
  overflow: hidden;
  padding: 7px 8px;
  border-top: 1px solid #e8e8e8;
}
.wmstool-table-filter-dropdown-link {
  color: #1890ff;
}
.wmstool-table-filter-dropdown-link:hover {
  color: #40a9ff;
}
.wmstool-table-filter-dropdown-link:active {
  color: #096dd9;
}
.wmstool-table-filter-dropdown-link.confirm {
  float: left;
}
.wmstool-table-filter-dropdown-link.clear {
  float: right;
}
.wmstool-table-selection-select-all-custom {
  margin-right: 4px !important;
}
.wmstool-table-selection .anticon-down {
  color: rgba(0, 0, 0, 0.45);
  transition: all .3s;
}
.wmstool-table-selection-menu {
  min-width: 96px;
  margin-top: 5px;
  margin-left: -30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.wmstool-table-selection-menu .wmstool-action-down {
  color: rgba(0, 0, 0, 0.45);
}
.wmstool-table-selection-down {
  cursor: pointer;
  padding: 0;
  display: inline-block;
  line-height: 1;
}
.wmstool-table-selection-down:hover .anticon-down {
  color: #666;
}
tr.wmstool-table-expanded-row,
tr.wmstool-table-expanded-row:hover {
  background: #fbfbfb;
}
.wmstool-table .wmstool-table-row-indent + .wmstool-table-row-expand-icon {
  margin-right: 8px;
}
.wmstool-table-scroll {
  overflow: auto;
  overflow-x: hidden;
}
.wmstool-table-scroll table {
  width: auto;
  min-width: 100%;
}
.wmstool-table-body-inner {
  height: 100%;
}
.wmstool-table-fixed-header > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-body {
  position: relative;
  background: #fff;
}
.wmstool-table-fixed-header .wmstool-table-body-inner {
  overflow: scroll;
}
.wmstool-table-fixed-header .wmstool-table-scroll .wmstool-table-header {
  overflow: scroll;
  padding-bottom: 20px;
  margin-bottom: -20px;
}
.wmstool-table-fixed-left,
.wmstool-table-fixed-right {
  position: absolute;
  top: 0;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  border-radius: 0;
}
.wmstool-table-fixed-left table,
.wmstool-table-fixed-right table {
  width: auto;
  background: #fff;
}
.wmstool-table-fixed-header .wmstool-table-fixed-left .wmstool-table-body-outer .wmstool-table-fixed,
.wmstool-table-fixed-header .wmstool-table-fixed-right .wmstool-table-body-outer .wmstool-table-fixed {
  border-radius: 0;
}
.wmstool-table-fixed-left {
  left: 0;
  box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
}
.wmstool-table-fixed-left .wmstool-table-header {
  overflow-y: hidden;
}
.wmstool-table-fixed-left .wmstool-table-body-inner {
  margin-right: -20px;
  padding-right: 20px;
}
.wmstool-table-fixed-header .wmstool-table-fixed-left .wmstool-table-body-inner {
  padding-right: 0;
}
.wmstool-table-fixed-left,
.wmstool-table-fixed-left table {
  border-radius: 4px 0 0 0;
}
.wmstool-table-fixed-right {
  right: 0;
  box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
}
.wmstool-table-fixed-right,
.wmstool-table-fixed-right table {
  border-radius: 0 4px 0 0;
}
.wmstool-table-fixed-right .wmstool-table-expanded-row {
  color: transparent;
  pointer-events: none;
}
.wmstool-table.wmstool-table-scroll-position-left .wmstool-table-fixed-left {
  box-shadow: none;
}
.wmstool-table.wmstool-table-scroll-position-right .wmstool-table-fixed-right {
  box-shadow: none;
}
.wmstool-table-edit_div {
  position: absolute;
  top: 6px;
  right: 7px;
  width: 150px;
}
.wmstool-table-edit_download {
  position: absolute;
  top: 6px;
  right: 50px;
  width: 150px;
  text-align: right;
  padding: 5px;
  cursor: pointer;
}
.wmstool-table-edit_download:hover {
  color: #1890ff;
}
.wmstool-table-edit_b {
  padding: 5px;
}
.wmstool-table-edit_b_div {
  text-align: right;
}
.wmstool-table-edit_div > div:last-child {
  width: auto !important;
}
.wmstool-table-edit_div .wmstool-checkbox-wrapper {
  display: inline-block;
}
.wmstool-table-iss-card {
  background: #fff;
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 5px;
  white-space: nowrap;
}
.wmstool-table-iss-card .row-selector-content {
  max-height: 200px;
  overflow-y: auto;
}
.wmstool-table-edit_save_bt {
  width: 100%;
  font-size: 10px;
  margin-top: 5px;
}
.wmstool-table-row-expand-icon {
  cursor: pointer;
  display: inline-block;
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 14px;
  border: 1px solid #e8e8e8;
  user-select: none;
  background: #fff;
}
.wmstool-table-row-expanded:after {
  content: '-';
}
.wmstool-table-row-collapsed:after {
  content: '+';
}
.wmstool-table-row-spaced {
  visibility: hidden;
}
.wmstool-table-row-spaced:after {
  content: '.';
}
.wmstool-table-row[class*="wmstool-table-row-level-0"] .wmstool-table-selection-column > span {
  display: inline-block;
}
.table_lazy_list::-webkit-scrollbar {
  width: 0px;
}
.table_lazy_list {
  padding-bottom: 10px;
}
.wmstool-table-middle > .wmstool-table-title,
.wmstool-table-middle > .wmstool-table-footer {
  padding: 12px 8px;
}
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-header > table > .wmstool-table-thead > tr > th,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-body > table > .wmstool-table-thead > tr > th,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-header > table > .wmstool-table-thead > tr > th,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-body > table > .wmstool-table-thead > tr > th,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-header > table > .wmstool-table-thead > tr > th,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-header > table > .wmstool-table-thead > tr > th,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-body-outer > .wmstool-table-body-inner > table > .wmstool-table-thead > tr > th,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-body-outer > .wmstool-table-body-inner > table > .wmstool-table-thead > tr > th,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-header > table > .wmstool-table-tbody > tr > td,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-body > table > .wmstool-table-tbody > tr > td,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-header > table > .wmstool-table-tbody > tr > td,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-body > table > .wmstool-table-tbody > tr > td,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-header > table > .wmstool-table-tbody > tr > td,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-header > table > .wmstool-table-tbody > tr > td,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-body-outer > .wmstool-table-body-inner > table > .wmstool-table-tbody > tr > td,
.wmstool-table-middle > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-body-outer > .wmstool-table-body-inner > table > .wmstool-table-tbody > tr > td {
  padding: 12px 8px;
}
.wmstool-table-small {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.wmstool-table-small > .wmstool-table-title,
.wmstool-table-small > .wmstool-table-footer {
  padding: 8px;
}
.wmstool-table-small > .wmstool-table-title {
  border-bottom: 1px solid #e8e8e8;
  top: 0;
}
.wmstool-table-small > .wmstool-table-content > .wmstool-table-header > table,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-body > table,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-header > table,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-body > table,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-header > table,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-header > table,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-body-outer > .wmstool-table-body-inner > table,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-body-outer > .wmstool-table-body-inner > table {
  border: 0;
  padding: 0 8px;
}
.wmstool-table-small > .wmstool-table-content > .wmstool-table-header > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-body > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-header > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-body > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-header > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-header > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-body-outer > .wmstool-table-body-inner > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-body-outer > .wmstool-table-body-inner > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-header > table > .wmstool-table-tbody > tr > td,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-body > table > .wmstool-table-tbody > tr > td,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-header > table > .wmstool-table-tbody > tr > td,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-body > table > .wmstool-table-tbody > tr > td,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-header > table > .wmstool-table-tbody > tr > td,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-header > table > .wmstool-table-tbody > tr > td,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-body-outer > .wmstool-table-body-inner > table > .wmstool-table-tbody > tr > td,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-body-outer > .wmstool-table-body-inner > table > .wmstool-table-tbody > tr > td {
  padding: 8px;
}
.wmstool-table-small > .wmstool-table-content > .wmstool-table-header > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-body > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-header > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-body > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-header > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-header > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-body-outer > .wmstool-table-body-inner > table > .wmstool-table-thead > tr > th,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-body-outer > .wmstool-table-body-inner > table > .wmstool-table-thead > tr > th {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
}
.wmstool-table-small > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-header > table,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-scroll > .wmstool-table-body > table,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-header > table,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-header > table,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-left > .wmstool-table-body-outer > .wmstool-table-body-inner > table,
.wmstool-table-small > .wmstool-table-content > .wmstool-table-fixed-right > .wmstool-table-body-outer > .wmstool-table-body-inner > table {
  padding: 0;
}
.wmstool-table-small > .wmstool-table-content .wmstool-table-header {
  background: #fff;
}
.wmstool-table-small > .wmstool-table-content .wmstool-table-placeholder,
.wmstool-table-small > .wmstool-table-content .wmstool-table-row:last-child td {
  border-bottom: 0;
}
.wmstool-table-small.wmstool-table-bordered {
  border-right: 0;
}
.wmstool-table-small.wmstool-table-bordered .wmstool-table-title {
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}
.wmstool-table-small.wmstool-table-bordered .wmstool-table-footer {
  border: 0;
  border-top: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}
.wmstool-table-small.wmstool-table-bordered .wmstool-table-footer:before {
  display: none;
}
.wmstool-table-small.wmstool-table-bordered .wmstool-table-placeholder {
  border-left: 0;
  border-bottom: 0;
}


.tableLayout .wmstool-table-body > table{
  table-layout: fixed;
}
.wmstool-table-cell-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
}
