/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
@keyframes antCheckboxEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
.wmstool-select-tree-checkbox {
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  top: -0.09em;
}
.wmstool-select-tree-checkbox-wrapper:hover .wmstool-select-tree-checkbox-inner,
.wmstool-select-tree-checkbox:hover .wmstool-select-tree-checkbox-inner,
.wmstool-select-tree-checkbox-input:focus + .wmstool-select-tree-checkbox-inner {
  border-color: #1890ff;
}
.wmstool-select-tree-checkbox-checked:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid #1890ff;
  content: '';
  animation: antCheckboxEffect 0.36s ease-in-out;
  animation-fill-mode: both;
  visibility: hidden;
}
.wmstool-select-tree-checkbox:hover:after,
.wmstool-select-tree-checkbox-wrapper:hover .wmstool-select-tree-checkbox:after {
  visibility: visible;
}
.wmstool-select-tree-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #fff;
  transition: all .3s;
}
.wmstool-select-tree-checkbox-inner:after {
  transform: rotate(45deg) scale(0);
  position: absolute;
  left: 4.57142857px;
  top: 1.14285714px;
  display: table;
  width: 5.71428571px;
  height: 9.14285714px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: ' ';
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
}
.wmstool-select-tree-checkbox-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.wmstool-select-tree-checkbox-indeterminate .wmstool-select-tree-checkbox-inner:after {
  content: ' ';
  transform: scale(1);
  position: absolute;
  left: 2.42857143px;
  top: 5.92857143px;
  width: 9.14285714px;
  height: 1.14285714px;
}
.wmstool-select-tree-checkbox-indeterminate.wmstool-select-tree-checkbox-disabled .wmstool-select-tree-checkbox-inner:after {
  border-color: rgba(0, 0, 0, 0.25);
}
.wmstool-select-tree-checkbox-checked .wmstool-select-tree-checkbox-inner:after {
  transform: rotate(45deg) scale(1);
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: ' ';
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
.wmstool-select-tree-checkbox-checked .wmstool-select-tree-checkbox-inner,
.wmstool-select-tree-checkbox-indeterminate .wmstool-select-tree-checkbox-inner {
  background-color: #1890ff;
  border-color: #1890ff;
}
.wmstool-select-tree-checkbox-disabled {
  cursor: not-allowed;
}
.wmstool-select-tree-checkbox-disabled.wmstool-select-tree-checkbox-checked .wmstool-select-tree-checkbox-inner:after {
  animation-name: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.wmstool-select-tree-checkbox-disabled .wmstool-select-tree-checkbox-input {
  cursor: not-allowed;
}
.wmstool-select-tree-checkbox-disabled .wmstool-select-tree-checkbox-inner {
  border-color: #d9d9d9 !important;
  background-color: #f5f5f5;
}
.wmstool-select-tree-checkbox-disabled .wmstool-select-tree-checkbox-inner:after {
  animation-name: none;
  border-color: #f5f5f5;
}
.wmstool-select-tree-checkbox-disabled + span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.wmstool-select-tree-checkbox-wrapper {
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: unset;
  cursor: pointer;
  display: inline-block;
}
.wmstool-select-tree-checkbox-wrapper + .wmstool-select-tree-checkbox-wrapper {
  margin-left: 8px;
}
.wmstool-select-tree-checkbox-wrapper + span,
.wmstool-select-tree-checkbox + span {
  padding-left: 8px;
  padding-right: 8px;
}
.wmstool-select-tree-checkbox-group {
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.wmstool-select-tree-checkbox-group-item {
  display: inline-block;
  margin-right: 8px;
}
.wmstool-select-tree-checkbox-group-item:last-child {
  margin-right: 0;
}
.wmstool-select-tree-checkbox-group-item + .wmstool-select-tree-checkbox-group-item {
  margin-left: 0;
}
.wmstool-select-tree {
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  margin: 0;
  padding: 0 4px;
  margin-top: -4px;
}
.wmstool-select-tree li {
  padding: 0;
  margin: 8px 0;
  list-style: none;
  white-space: nowrap;
  outline: 0;
}
.wmstool-select-tree li.filter-node > span {
  font-weight: 500;
}
.wmstool-select-tree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}
.wmstool-select-tree li .wmstool-select-tree-node-content-wrapper {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 2px;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
  transition: all .3s;
  width: calc(100% - 24px);
}
.wmstool-select-tree li .wmstool-select-tree-node-content-wrapper:hover {
  background-color: #e6f7ff;
}
.wmstool-select-tree li .wmstool-select-tree-node-content-wrapper.wmstool-select-tree-node-selected {
  background-color: #bae7ff;
}
.wmstool-select-tree li span.wmstool-select-tree-checkbox {
  margin: 0 4px 0 0;
}
.wmstool-select-tree li span.wmstool-select-tree-checkbox + .wmstool-select-tree-node-content-wrapper {
  width: calc(100% - 46px);
}
.wmstool-select-tree li span.wmstool-select-tree-switcher,
.wmstool-select-tree li span.wmstool-select-tree-iconEle {
  margin: 0;
  width: 24px;
  height: 24px;
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
  border: 0 none;
  cursor: pointer;
  outline: none;
  text-align: center;
}
.wmstool-select-tree li span.wmstool-select-tree-icon_loading:after {
  display: inline-block;
  font-family: 'anticon';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e6ae";
  animation: loadingCircle 1s infinite linear;
  color: #1890ff;
}
.wmstool-select-tree li span.wmstool-select-tree-switcher.wmstool-select-tree-switcher-noop {
  cursor: auto;
}
.wmstool-select-tree li span.wmstool-select-tree-switcher.wmstool-select-tree-switcher_open:after {
  font-size: 12px;
  font-size: 7px \9;
  transform: scale(0.58333333) rotate(0deg);
  display: inline-block;
  font-family: 'anticon';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e606";
  font-weight: bold;
  transition: transform .3s;
}
:root .wmstool-select-tree li span.wmstool-select-tree-switcher.wmstool-select-tree-switcher_open:after {
  font-size: 12px;
}
.wmstool-select-tree li span.wmstool-select-tree-switcher.wmstool-select-tree-switcher_close:after {
  font-size: 12px;
  font-size: 7px \9;
  transform: scale(0.58333333) rotate(0deg);
  display: inline-block;
  font-family: 'anticon';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e606";
  font-weight: bold;
  transition: transform .3s;
}
:root .wmstool-select-tree li span.wmstool-select-tree-switcher.wmstool-select-tree-switcher_close:after {
  font-size: 12px;
}
.wmstool-select-tree li span.wmstool-select-tree-switcher.wmstool-select-tree-switcher_close:after {
  transform: rotate(270deg) scale(0.59);
}
.wmstool-select-tree-child-tree {
  display: none;
}
.wmstool-select-tree-child-tree-open {
  display: block;
}
li.wmstool-select-tree-treenode-disabled > span,
li.wmstool-select-tree-treenode-disabled > .wmstool-select-tree-node-content-wrapper,
li.wmstool-select-tree-treenode-disabled > .wmstool-select-tree-node-content-wrapper span,
li.wmstool-select-tree-treenode-disabled > span.wmstool-select-tree-switcher {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
li.wmstool-select-tree-treenode-disabled > .wmstool-select-tree-node-content-wrapper:hover {
  background: transparent;
}
.wmstool-select-tree-icon__open {
  margin-right: 2px;
  vertical-align: top;
}
.wmstool-select-tree-icon__close {
  margin-right: 2px;
  vertical-align: top;
}
.wmstool-select-tree-dropdown {
  font-family: "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
.wmstool-select-tree-dropdown .wmstool-select-dropdown-search {
  display: block;
  padding: 4px;
}
.wmstool-select-tree-dropdown .wmstool-select-dropdown-search .wmstool-select-search__field__wrap {
  width: 100%;
}
.wmstool-select-tree-dropdown .wmstool-select-dropdown-search .wmstool-select-search__field {
  padding: 4px 7px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: none;
}
.wmstool-select-tree-dropdown .wmstool-select-dropdown-search.wmstool-select-search--hide {
  display: none;
}
.wmstool-select-tree-dropdown .wmstool-select-not-found {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  padding: 7px 16px;
  display: block;
}
.wmstool-select-o-tree-select .wmstool-select-arrow {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -6px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  line-height: 1;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.wmstool-select-o-tree-select .wmstool-select-selection--single {
  position: relative;
  height: 32px;
  cursor: pointer;
}
.wmstool-select-o-tree-select .wmstool-select-selection__rendered {
  line-height: 30px;
  height: 30px;
  margin-right: 24px;
  position: relative;
  display: block;
  margin-right: 11px;
  margin-left: 11px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 0px solid #d9d9d9;
  border-top-width: 0px;
  border-radius: 0px;
  outline: none;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
}
.wmstool-select-o-tree-select .wmstool-select-selection__placeholder,
.wmstool-select-o-tree-select .wmstool-select-search__field__placeholder {
  position: absolute;
  top: 50%;
  right: 9px;
  left: 0;
  max-width: 100%;
  height: 20px;
  margin-top: -10px;
  overflow: hidden;
  color: #bfbfbf;
  line-height: 20px;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}
.wmstool-select-o-tree-select .wmstool-select-selection--multiple .wmstool-select-selection__choice__content {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wmstool-select-o-tree-select .wmstool-select-selection--multiple .wmstool-select-selection__choice {
  position: relative;
  float: left;
  max-width: 99%;
  margin-right: 4px;
  padding: 0 20px 0 10px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  cursor: default;
  -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 32px;
  margin-top: 3px;
}
.wmstool-select-o-tree-select .wmstool-select-selection--multiple .wmstool-select-selection__choice .wmstool-select-selection__choice__remove {
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 4px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 700;
  line-height: inherit;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: inline-block;
  font-size: 12px;
  font-size: 10px \9;
  -webkit-transform: scale(0.83333333) rotate(0deg);
  -ms-transform: scale(0.83333333) rotate(0deg);
  transform: scale(0.83333333) rotate(0deg);
}
.wmstool-select-o-tree-select .wmstool-select-selection--multiple .wmstool-select-selection__choice .wmstool-select-selection__choice__remove:after {
  content: " ×";
}
.wmstool-select-o-tree-select .wmstool-select-search--inline .wmstool-select-search__field {
  display: none;
}
.wmstool-select-o-tree-select .wmstool-select {
  min-height: 32px;
  padding-bottom: 3px;
  cursor: text;
  zoom: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top-width: 1.02px;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
